@import "../../../styles/mixins";
@import "../../../styles/breakpoints";

.container {
  width: 11.9rem;
  height: 2.125rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  border: 1px solid var(--gray-20);
  border-radius: 2px;

  background-color: var(--white);

  color: var(--gray-20);

  padding-left: 8px;
  padding-right: 8px;

  margin-bottom: 8px;

  @include sm {
    width: 100%;
  }

  @include md {
    width: 100%;
  }

  img {
    margin-right: 10px;
  }

  span {
    padding-top: 2px;
    word-spacing: -3px;
  }
}

.selected {
  color: var(--support-01);
  border-color: var(--support-01);
}