@import "../../styles/mixins";
@import "../../styles/breakpoints";

.introdution {
  padding: 4.0625rem 3.75rem 2.25rem;
  background-color: var(--brand-color-blue);

  color: var(--white);

  @include sm() {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include md() {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .logoBlueContainer {
    @include sm() {
      display: flex;
      justify-content: center;
    }

    @include md() {
      display: flex;
      justify-content: center;
    }

  }

  .text{
    margin-top: 1.125rem;
    margin-bottom: 1.5625rem;

    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;

    color: var(--white);

    @include sm() {
      margin-top: 1rem;
      margin-bottom: 1rem;

      text-align: center;
    }

    @include md() {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .socialMedia{
    @include sm(){
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    @include md(){
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .icon {
      width: 1.375rem;
      height: 1.375rem;
  
      margin-right: 0.6875rem;
    }
  }


  .menu{
    padding-top: 0.625rem;
    padding-right: 3.56rem;

    @include sm(){
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
      padding-right: 0;
    }
  }

}

.copyright{
  background-color: var(--support-02);
  padding: 1.25rem 3.75rem;

  @include sm() {
    padding-left: 1rem;
    padding-right: 1rem;

    text-align: center;
  }

  @include md() {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .madeInBrazil {
    @include sm() {
      width: 100%;

      display: flex;
      justify-content: center;

      margin-top: 0.5rem;
    }
  }

  span {
    font-family: 'Circular Book';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 18px;

    color: var(--white);

    @include sm() {
      text-align: center;
    }
  }

  .flag {
    height: 1.3125rem;

    padding-left: 1rem;
    padding-bottom: 0.2rem;
  }
}